.clearfix:before,
.clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

html {
  position: relative;
  min-height: 100%; }

body {
  min-height: 100%;
  margin: 0; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a {
  display: block;
  text-decoration: none; }

ul,
h2,
p {
  margin: 0;
  padding: 0; }

ul li {
  list-style: none; }

.container {
  width: 968px;
  margin: 0 auto; }

.header {
  background: -webkit-gradient(linear, left top, left bottom, from(#fdfcfc), to(#ebfaf9));
  background: -webkit-linear-gradient(top, #fdfcfc 0%, #ebfaf9 100%);
  background: linear-gradient(to bottom, #fdfcfc 0%, #ebfaf9 100%);
  width: 100%;
  min-height: 207px;
  border-bottom: 1px solid #d0e7e6;
  padding-top: 16px; }
  .header .header__top {
    padding-bottom: 18px;
    border-bottom: 1px solid #d0e7e6; }
    .header .header__top .left__side {
      margin-right: 60px; }
    .header .header__top .middle__side {
      margin: 0 37px 0 25px; }
    .header .header__top .top__element {
      display: inline-block; }
      .header .header__top .top__element .top__link {
        display: inline-block;
        font-size: 12px; }
      .header .header__top .top__element .special__color {
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        color: #3cc9b0; }
      .header .header__top .top__element .cart__item {
        color: #bcc0c0;
        margin-right: 12px; }
      .header .header__top .top__element .map__icon {
        position: relative;
        padding-left: 15px; }
        .header .header__top .top__element .map__icon:before {
          position: absolute;
          content: "";
          display: table;
          background-image: url("../img/map_icon.png");
          background-repeat: no-repeat;
          width: 9px;
          height: 12px;
          top: 0;
          left: 2px; }
    .header .header__top .middle__link {
      position: relative;
      font-family: 'Open Sans', sans-serif;
      font-weight: 700;
      color: #000;
      padding-right: 10px; }
      .header .header__top .middle__link:after {
        position: absolute;
        content: "";
        display: table;
        width: 0;
        height: 0;
        top: 6px;
        right: -1px;
        border-top: 4px solid #858c8b;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent; }
    .header .header__top .top__content {
      font-family: 'Open Sans', sans-serif;
      font-size: 12px; }
    .header .header__top .cart__icon {
      position: relative;
      padding-left: 25px; }
      .header .header__top .cart__icon:before {
        position: absolute;
        content: "";
        display: table;
        background-image: url("../img/cart__icon.png");
        background-repeat: no-repeat;
        width: 18px;
        height: 14px;
        top: 0;
        left: 0; }
    .header .header__top .botton__link {
      font-family: 'Open Sans', sans-serif;
      font-size: 13px;
      color: #fff;
      background-color: #ff642b;
      padding: 8px 42px;
      -webkit-border-radius: 2px;
              border-radius: 2px; }
      .header .header__top .botton__link:hover {
        background-color: #f4936f; }
  .header .header__middle {
    padding: 10px 0;
    border-bottom: 1px solid #d0e7e6; }
    .header .header__middle .header__logo {
      float: left;
      position: relative;
      padding: 11px 25px 11px 49px; }
      .header .header__middle .header__logo:before {
        position: absolute;
        content: "";
        display: table;
        background-image: url("../img/logo_top.png");
        background-repeat: no-repeat;
        width: 38px;
        height: 37px;
        top: 15px;
        left: 0; }
      .header .header__middle .header__logo .logo__link {
        font-family: 'Cabin', sans-serif;
        font-size: 28px;
        color: #ff642b; }
        .header .header__middle .header__logo .logo__link .logo__color {
          color: #3cc9b0;
          font-weight: 700; }
      .header .header__middle .header__logo .logo__info {
        font-family: 'PT Sans', sans-serif;
        font-size: 12px;
        color: #858c8b; }
    .header .header__middle .header__advertising {
      float: right;
      background-color: #555555;
      padding: 10px 42px 10px 36px; }
      .header .header__middle .header__advertising .advertising__item {
        display: inline-block;
        border-right: 1px solid #888888;
        padding-right: 41px; }
        .header .header__middle .header__advertising .advertising__item .advertising__icon {
          position: relative; }
          .header .header__middle .header__advertising .advertising__item .advertising__icon:after {
            position: absolute;
            content: "";
            display: table;
            background: url("../img/rocket-icon.png");
            background-repeat: no-repeat;
            width: 32px;
            height: 30px;
            top: 0;
            right: -20px; }
        .header .header__middle .header__advertising .advertising__item .advertising__top {
          font-family: 'Open Sans', sans-serif;
          font-weight: 800;
          font-style: italic;
          font-size: 19px;
          text-transform: uppercase;
          color: #fff; }
        .header .header__middle .header__advertising .advertising__item .advertising__bottom {
          font-family: 'Open Sans', sans-serif;
          font-size: 11px;
          color: #ffc412; }
        .header .header__middle .header__advertising .advertising__item .advertising__element {
          text-transform: none; }
        .header .header__middle .header__advertising .advertising__item .advertising__viagra {
          font-weight: 700;
          text-transform: uppercase;
          padding: 5px 0; }
        .header .header__middle .header__advertising .advertising__item .middle__icon {
          position: relative; }
          .header .header__middle .header__advertising .advertising__item .middle__icon:after {
            position: absolute;
            content: "";
            display: table;
            background: url("../img/viagra__icon.png");
            background-repeat: no-repeat;
            width: 40px;
            height: 39px;
            top: 0;
            right: -25px; }
      .header .header__middle .header__advertising .middle__item {
        padding-left: 31px; }
      .header .header__middle .header__advertising .right__item {
        border-right: none;
        padding-right: 0;
        padding-left: 32px; }
        .header .header__middle .header__advertising .right__item .right__side {
          text-transform: none;
          color: #ffc412; }
          .header .header__middle .header__advertising .right__item .right__side .right__element {
            font-size: 13px; }
          .header .header__middle .header__advertising .right__item .right__side .right__bottom {
            font-size: 11px; }
  .header .header__benefits {
    padding: 17px 0; }
    .header .header__benefits .benefits__list .benefits_element {
      position: relative;
      display: inline-block;
      padding-right: 45px;
      font-family: 'Open Sans', sans-serif;
      font-size: 15px;
      font-weight: 700;
      font-style: italic;
      color: #555959; }
      .header .header__benefits .benefits__list .benefits_element:last-child {
        padding-right: 0; }
      .header .header__benefits .benefits__list .benefits_element:first-child {
        padding-left: 43px; }
      .header .header__benefits .benefits__list .benefits_element:before {
        position: absolute;
        content: "";
        display: table;
        background-image: url("../img/sprite_1.png");
        background-repeat: no-repeat;
        width: 23px;
        height: 23px;
        left: 10px;
        top: -2px; }
    .header .header__benefits .benefits__list .sprite__supplier:before {
      background-position: -24px 0;
      left: -25px;
      width: 19px; }
    .header .header__benefits .benefits__list .sprite__guarantee:before {
      background-position: -43px 0;
      left: -25px;
      width: 18px; }
    .header .header__benefits .benefits__list .sprite__quality:before {
      background-position: -61px 0;
      left: -25px;
      width: 25px; }
  .header .header__menu {
    background-color: #3cc9b0; }
    .header .header__menu .nav .nav__list .nav__element {
      display: inline-block;
      vertical-align: middle; }
      .header .header__menu .nav .nav__list .nav__element .nav__link {
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: 700;
        color: #fff;
        padding: 14px 10px; }
        .header .header__menu .nav .nav__list .nav__element .nav__link:hover {
          color: #ffc412; }
      .header .header__menu .nav .nav__list .nav__element .nav__paragraf {
        position: relative;
        font-family: 'Open Sans', sans-serif;
        font-size: 10px;
        font-weight: 700;
        color: #fff;
        padding: 5px 20px 5px 40px; }
        .header .header__menu .nav .nav__list .nav__element .nav__paragraf .nav__number {
          font-size: 20px; }
        .header .header__menu .nav .nav__list .nav__element .nav__paragraf:before {
          position: absolute;
          content: "";
          display: table;
          background-image: url("../img/phone_icon.png");
          background-repeat: no-repeat;
          width: 23px;
          height: 23px;
          top: 50%;
          -webkit-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
                  transform: translateY(-50%);
          left: 10px; }
    .header .header__menu .nav .nav__list .nav__border {
      border-right: 1px solid #7ad6c5; }
